In [29]:
title = '서기 1년 1월 1일부터 ' \
        '오늘까지 ' \
        '일수 구하기 '                 # 3행에 걸쳐 작성 → 1개 논리적 명령행
months = [31, 28, 31, 30, 31, 30,
          31, 31, 30, 31, 30, 31]

In [30]:
title

'서기 1년 1월 1일부터 오늘까지 \n일수 구하기 '

In [48]:
year, month = 2025, 10                  # 여러개 변수를 한개의 논리적 행에 선언
day = 7; ratio = 365.2425               # 2개 논리적 명령행을 세미콜론으로 분리하여
                                        # 한개의 물리적 행으로 표시

In [44]:
month, year

(10, 2025)

In [49]:
days = (year -1) * ratio + \
       sum(months[:month-1]) + day        # 수식이 길 경우 줄바꿈 사용

In [50]:
days

739530.8200000001

In [53]:
print(title), print(' - 년:', year ), print(' - 월:', month)    # 콤마로 함수 분리
print(' - 일:', day); print(' * 일수 총합:', int(days))         # 세미콜론으로 행 바꿈

서기 1년 1월 1일부터 오늘까지
일수 구하기
 - 년: 2025
 - 월: 10
 - 일: 7
 * 일수 총합: 739530