## 조건문 : if - else

In [1]:
score = 60

if score >= 60:                     # 조건식 뒤에 콜론 확인
    result = "합격"                 # 들여쓰기 확인
    
else:                              # else 뒤에 콜론 필수
    result = "불합격"
    
print(result)

합격

In [2]:
pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket: 
    print("택시를 타고 가라")
    
else:
    print("걸어가라")

택시를 타고 가라

In [3]:
age = 18
status = "성인" 

if age >= 19:
    print(status)

#else:                                    #else 생략 가능
print("미성년")

미성년

In [3]:
year = 2025

if year%4 == 0 and year%100 != 0 :
    print(year, '년은 윤년입니다.')
    
elif year%400 == 0 :
    print(year, '년은 윤년입니다.')
    
else:
    print(year , '년은 윤년이 아닙니다.')

2025 년은 윤년이 아닙니다.

#### 윤년 조건

- 4로 나누어 떨어지는 연도가 기본이지만, 100으로 나누어 떨어지면 윤년이 아니고, 400으로 나누어 떨어지면 다시 윤년이 되는 규칙