## 반복문 : while
#### 1) while문 기본 사용

In [ ]:
treeHit = 0

while treeHit < 5:
    treeHit = treeHit +1
    print("나무를 %d번 찍었습니다." %treeHit)  
                            #문자열 내에 %d 는 뒤에 지정한 변수값을 대입함

    if treeHit == 10:
        print("나무 넘어갑니다.")

In [ ]:
prompt = """       
1. Add
2. Del
3. List
4. Quit

Enter number: """
                # 여러 줄 주석 또는 함수 설명시에 """ """ 사용
    
number = 0
while number != 4:
    print(prompt)
    number = int(input())

#### 2) while - else 같이 사용

In [1]:
# while - else 문 사용
# 4번 입력값 받을때까지 계속 입력창을 띄우다가, 4번째 입력에서 출력

n=3

while n>=0:
    m = input("Enter a interger: ")          # input 함수는 입력값을 받아서 전달
    
    if int(m) == 0: 
        break                               # while 문을 벗어남
    n = n - 1                               # 1씩 감소
    
else:                               # while 문이 정상적으로 종료된 후에 else 실행
    print('4 inputs.')

Enter a interger: 2
Enter a interger: 3
Enter a interger: 4
Enter a interger: 5
4 inputs.

In [ ]:
coffee = 10

while True:
    money = int(input("돈을 넣어 주세요: "))
    
    if money == 3000:
        print("커피를 줍니다.")
        coffee = coffee -1
        
    elif money > 3000:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money - 3000))
        coffee = coffee -1
        
    else:
        print("돈이 모자랍니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
        
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 2000
돈이 모자랍니다.
남은 커피의 양은 10개 입니다.
돈을 넣어 주세요: 3500
거스름돈 500를 주고 커피를 줍니다.
돈을 넣어 주세요: 3000
커피를 줍니다.
돈을 넣어 주세요: 0
돈이 모자랍니다.
남은 커피의 양은 8개 입니다.

#### 3) while 문 안에 continue 함수 사용

In [5]:
# 홀수 출력

a = 0
while a < 10:
    a = a + 1
    
    if a % 2 == 0: continue       # 나머지가 0이면 다시 while 처음으로 돌아감
    print(a)

1
3
5
7
9

## 반복문 : for - in

#### 1) for문 기본 형태

In [6]:
test_list = ['one', 'two', 'three']    # 객체가 리스트 형태

for i in test_list: 
    print(i)

one
two
three

In [8]:
a = [(1,2), (3,4), (5,6)]          # 객체가 튜플 형태

for (first, last) in a:           # 튜플 원소가 자동으로 두 변수에 할당
    print(first + last)

3
7
11

In [11]:
marks = [90, 25, 67, 45, 80]     # 학생들의 시험 점수 리스트

number = 0                       # 학생에게 붙여 줄 번호

for mark in marks:               # 90, 25, 67, 45, 80을 순서대로 mark에 대입
    number = number + 1
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

#### 2) for 문과 range() 함수 같이 사용

In [13]:
# 1부터 10까지 더하기

add = 0 
for i in range(1, 11):           # range의 끝수는 포함하지 않음 (10까지)
    add = add + i 

print(add)

55

In [15]:
# range 값으로 변수를 받는 경우

marks = [90, 25, 67, 45, 80]

for number in range(len(marks)):     # len(marks) = 5 가 됨
    if marks[number] < 60:           #  number에는 0부터 4까지 대입됨
        continue                    # marks[number]에는 5개 값이 차례대로 저장
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

#### 3) for 문을 중복해서 사용

In [30]:
# 구구단 계산

for i in range(2,10):           # 첫번째 for문, i 변수에 1개 숫자 할당
    for j in range(1, 10):      # 두번째 for문, i 값에 대해 1~9까지 반복
        print(i*j, end=" ")     # end ="" 파라미터는 줄바꿈 없이 계속 출력
    print('')                   # 줄을 바꾸기 위해 빈값으로 출력

                                # 데코 : print("[%d단] " %i, end=" ")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

#### 4) enumerate() 함수 
* for 문에 자주 사용하며, enumerate()는 인덱스와 값을 동시에 구하고 싶을때 사용

In [35]:
fruits = ['apple', 'banana', 'orange']

for i, fruit in enumerate(fruits):
    print(f"{i}: {fruit}")          # f 파라미터는 문자열 내에서 
                                    # 대괄호 안의 변수값을 출력할때 사용

0: apple
1: banana
2: orange

#### 5) zip() 함수 : 여러개의 인덱스와 값을 동시에 구하고 싶을 때

In [38]:
names = ['홍길동', '김철수', '이영희']
korean = [85, 92, 78]
english = [90, 88, 95]

for name, kor, eng in zip(names, korean, english):
    print(f"{name}: 국어 {kor}점, 영어 {eng}점")

홍길동: 국어 85점, 영어 90점
김철수: 국어 92점, 영어 88점
이영희: 국어 78점, 영어 95점

#### 6) for 문의 다양한 형태 정리

In [2]:
kor = [70, 80 ,90, 40, 50]      
eng = [90, 80 ,70, 70, 60]
sum1, sum2, sum3, sum4 = 0, 0, 0, 0       # 누적 변수 초기화

for i in range(0, 5):               # range() 함수로 범위지정
    sum1 = sum1 + kor[i] + eng[i]

for k in kor:                      # 리스트 원소 반복
    sum2 = sum2 + k
for e in eng:
    sum2 = sum2 + e

for i, k in enumerate(kor):        # 리스트의 인덱스와 원소값을 같이 반복
    sum3 = sum3 + k + eng[i]       # kor에서 리스트 순서대로 값을 취함
                                   # eng에서 인덱스 순서대로 값을 취함

for k, e in zip(kor, eng):         # 여러 객체를 동시에 반복해서 취할 때
    sum4 = sum4 + k + e

In [3]:
print ('sum1=', sum1), print ('sum2=', sum2)
print ('sum3=', sum3), print ('sum4=', sum4)

sum1= 700
sum2= 700
sum3= 700
sum4= 700

(None, None)